<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>PodletTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Podlet</servlet-name>
		<servlet-class>dnspod.podlet.Podlet</servlet-class>
		<init-param>
			<!-- required -->
			<param-name>login_email</param-name>
			<param-value>dnspodlet@gmail.com</param-value>
		</init-param>
		<init-param>
			<!-- required -->
			<param-name>login_password</param-name>
			<param-value>dnspodlet</param-value>
		</init-param>
		<init-param>
			<!-- required. The domain name which need DDN support. -->
			<param-name>domain_name</param-name>
			<param-value>sample.com</param-value>
		</init-param>
		<init-param>
			<!--
				required. Host names which need DDNS support, separated by comma,
				ignore cases.
			-->
			<param-name>host_names</param-name>
			<param-value>@,www</param-value>
		</init-param>
		<init-param>
			<!--
				Optional, how many minutes once time to check public IP address.
				Default value is 60 minutes.
			-->
			<param-name>interval_time</param-name>
			<param-value>60</param-value>
		</init-param>
		<init-param>
			<!--
				Optional, connect to dnspod.com with HTTPS or not. Default value is
				false.
			-->
			<param-name>secure_connection</param-name>
			<param-value>false</param-value>
		</init-param>

		<load-on-startup>999</load-on-startup>
	</servlet>

</web-app>